# Entropy

In [1]:
import pandas as pd

In [2]:
total_data = pd.read_csv('./dataset/intervention_data/gpt2_train=False_Total.csv')
total_data

          prob         kl   entropy
0    -0.811730  11.324991 -4.458462
1    -0.079996  12.253328  0.312050
2    -0.873690  11.862528 -6.046141
3    -0.629521  12.853862 -4.754339
4    -0.086813   0.231026  0.206219
...        ...        ...       ...
4407 -0.689437  11.481072 -3.619538
4408 -0.738699  11.887397 -4.413545
4409 -0.063761  10.935291 -0.679931
4410 -0.670067  13.116758 -4.840611
4411 -0.840015  11.939545 -4.412962

[4412 rows x 3 columns]

In [3]:
pd.DataFrame(total_data.mean())

                 0
prob     -0.553152
kl       11.482063
entropy  -3.615316

In [4]:
positive_effect = total_data.loc[total_data['entropy']>0].index
negative_effect = total_data.loc[total_data['entropy']<0].index

In [5]:
print(len(positive_effect))
print(len(negative_effect))

648
3764

In [6]:
display(pd.DataFrame(total_data.iloc[positive_effect].mean()))
display(pd.DataFrame(total_data.iloc[negative_effect].mean()))

                0
prob     0.020973
kl       7.218677
entropy  0.685539

                 0
prob     -0.651992
kl       12.216036
entropy  -4.355740

# Train = False

In [7]:
data = pd.read_csv('./dataset/intervention_data/gpt2_train=False_edit_entropy.csv') 
data

,origin,layer 0,layer 1,layer 2,layer 3,layer 4,layer 5,layer 6,layer 7,layer 8,layer 9,layer 10,layer 11,layer 12
0,5.585329,5.711732,5.712311,5.643251,5.601836,5.585338,5.482302,5.451005,5.490924,5.493524,5.363098,4.748008,4.648924,4.402625
1,4.494078,8.159440,8.032193,8.011313,8.009423,7.999582,7.990572,7.971884,7.936371,7.875364,7.802703,7.733830,7.703379,7.672818
2,6.701682,6.632467,6.620870,6.602275,6.578041,6.583942,6.519767,6.486629,6.447832,6.454183,6.353282,6.262886,6.204049,6.158010
3,7.300532,7.399810,7.417465,7.422047,7.339550,7.283890,7.252683,7.218998,7.218244,7.222018,7.208397,7.191059,7.173315,7.168748
4,4.760793,4.760041,4.096996,3.447483,3.054335,2.696865,2.327793,1.956951,1.605356,1.302909,1.069473,0.901005,0.760297,0.614947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,5.512606,5.390987,5.355699,5.332508,5.269267,5.216302,5.156899,5.119611,5.084391,4.972786,4.852764,4.772286,4.747725,4.711353
4408,5.374681,5.198174,5.185433,5.088458,4.981029,4.833591,4.721843,4.711265,4.719932,4.654936,4.569178,4.495614,4.470597,4.387311
4409,6.837010,6.403945,6.273537,6.151175,6.156641,5.960886,5.779186,5.568888,5.281295,4.940822,4.603915,4.305848,4.029708,3.968366
4410,4.915978,3.803464,3.718060,3.462595,3.163504,2.891713,2.620903,2.528254,2.313981,2.074089,1.859151,1.691949,1.558891,1.495779
4411,5.205304,5.183802,5.176859,5.116503,5.050752,4.970767,4.913708,4.923643,4.924062,4.910522,4.855316,4.791132,4.759762,4.707330

In [8]:
pd.DataFrame(data.mean(axis=0))

                 0
origin    5.639613
layer 0   5.730656
layer 1   5.591577
layer 2   5.461086
layer 3   5.335261
layer 4   5.210848
layer 5   5.067338
layer 6   4.942666
layer 7   4.809851
layer 8   4.598015
layer 9   4.375976
layer 10  4.175435
layer 11  4.047903
layer 12  3.989136

In [9]:
pd.DataFrame(data.loc[positive_effect].mean(axis=0))

                 0
origin    5.223690
layer 0   5.099353
layer 1   4.758248
layer 2   4.474433
layer 3   4.276214
layer 4   4.108756
layer 5   3.890937
layer 6   3.654102
layer 7   3.420638
layer 8   3.149940
layer 9   2.919970
layer 10  2.721436
layer 11  2.564013
layer 12  2.484456

In [10]:
pd.DataFrame(data.loc[negative_effect].mean(axis=0))

                 0
origin    5.711217
layer 0   5.839340
layer 1   5.735040
layer 2   5.630945
layer 3   5.517583
layer 4   5.400581
layer 5   5.269864
layer 6   5.164502
layer 7   5.049014
layer 8   4.847311
layer 9   4.626638
layer 10  4.425752
layer 11  4.303365
layer 12  4.248178

In [11]:
prob_data = pd.read_csv('./dataset/intervention_data/gpt2_train=False_edit_indiv_entropy.csv') 
prob_data

,origin,layer 0,layer 1,layer 2,layer 3,layer 4,layer 5,layer 6,layer 7,layer 8,layer 9,layer 10,layer 11,layer 12
0,5.585329,5.711732,5.583191,5.537724,5.579479,5.649107,5.633479,5.652235,5.680845,5.681599,5.665730,5.601563,5.539793,5.620828
1,4.494078,8.159440,4.510863,4.543588,4.486173,4.442023,4.321900,4.435550,4.445627,4.413436,4.376885,4.421522,4.454387,4.461689
2,6.701682,6.632467,6.688470,6.678074,6.672686,6.695486,6.610605,6.642468,6.629442,6.698973,6.642606,6.653825,6.623308,6.683006
3,7.300532,7.399810,7.345677,7.356481,7.142259,7.214318,7.237618,7.253801,7.294766,7.282265,7.276286,7.282903,7.281263,7.292267
4,4.760793,4.760041,4.097256,4.355940,4.418433,4.411406,4.361187,4.360067,4.323678,4.294235,4.331347,4.397597,4.455981,4.487035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,5.512606,5.390987,5.525073,5.530123,5.487035,5.485491,5.467104,5.475747,5.567106,5.534585,5.521668,5.511255,5.505574,5.513302
4408,5.374681,5.198174,5.381291,5.338854,5.305589,5.298971,5.329069,5.369258,5.409577,5.398351,5.370830,5.360259,5.365725,5.354700
4409,6.837010,6.403945,6.793235,6.819690,6.883212,6.849596,6.805036,6.776892,6.764719,6.733469,6.696916,6.724161,6.709844,6.784957
4410,4.915978,3.803464,4.889888,4.754565,4.622178,4.641176,4.618817,4.805377,4.712150,4.660347,4.676791,4.687730,4.733546,4.796276
4411,5.205304,5.183802,5.220298,5.213578,5.164504,5.165927,5.190505,5.209665,5.190486,5.197159,5.189244,5.195693,5.184392,5.210896

In [12]:
display(pd.DataFrame(prob_data.mean(axis=0)))

                 0
origin    5.639613
layer 0   5.730656
layer 1   5.604434
layer 2   5.566903
layer 3   5.533453
layer 4   5.530338
layer 5   5.512715
layer 6   5.539301
layer 7   5.542413
layer 8   5.515808
layer 9   5.499465
layer 10  5.522821
layer 11  5.523588
layer 12  5.576913

In [13]:
display(pd.DataFrame(prob_data.loc[positive_effect].mean(axis=0)))

                 0
origin    5.223690
layer 0   5.099353
layer 1   5.007224
layer 2   5.075201
layer 3   5.064020
layer 4   5.035603
layer 5   4.976936
layer 6   4.979002
layer 7   4.970815
layer 8   4.935788
layer 9   4.937921
layer 10  4.986951
layer 11  5.000103
layer 12  5.052491

In [14]:
display(pd.DataFrame(prob_data.loc[negative_effect].mean(axis=0)))

                 0
origin    5.711217
layer 0   5.839340
layer 1   5.707249
layer 2   5.651554
layer 3   5.614269
layer 4   5.615510
layer 5   5.604954
layer 6   5.635761
layer 7   5.640818
layer 8   5.615662
layer 9   5.596138
layer 10  5.615075
layer 11  5.613709
layer 12  5.667196

In [15]:
display(pd.read_csv('./dataset/intervention_data/gpt2_train=False_edit_accuracy__entropy.csv'))

    total_stacked  pos_stacked  neg_stacked  total_indiv  pos_indiv  neg_indiv
0        0.060517     0.158951     0.043571     0.060517   0.158951   0.043571
1        0.020626     0.054012     0.014878     0.020626   0.054012   0.014878
2        0.019266     0.038580     0.015940     0.057570   0.146605   0.042242
3        0.015639     0.029321     0.013284     0.053264   0.145062   0.037460
4        0.013599     0.023148     0.011955     0.057344   0.146605   0.041977
5        0.011106     0.015432     0.010361     0.057344   0.146605   0.041977
6        0.009066     0.012346     0.008502     0.055530   0.138889   0.041180
7        0.010879     0.016975     0.009830     0.057117   0.143519   0.042242
8        0.012919     0.021605     0.011424     0.059837   0.143519   0.045430
9        0.013599     0.018519     0.012752     0.058704   0.143519   0.044102
10       0.012239     0.016975     0.011424     0.057797   0.145062   0.042774
11       0.010426     0.016975     0.009299     0.054850   0.145062   0.039320
12       0.010653     0.013889     0.010096     0.054624   0.143519   0.039320
13       0.009293     0.013889     0.008502     0.056890   0.151235   0.040648

# Train=True

In [16]:
total_data = pd.read_csv('./dataset/intervention_data/gpt2_train=True_Total.csv')
total_data

          prob        kl   entropy
0     0.146471  4.069785  6.057753
1     0.424571  7.348496  6.174748
2     0.992279  9.834436  9.314149
3     0.148583  6.131197  5.689916
4     0.367218  0.316818  1.718099
...        ...       ...       ...
4407  0.466487  5.844389  8.094136
4408  0.512915  5.370334  7.713697
4409  0.380489  8.613902  6.744452
4410  0.487833  7.254220  6.955940
4411  0.115202  3.830449  5.656858

[4412 rows x 3 columns]

In [17]:
pd.DataFrame(total_data.mean())

                0
prob     0.449066
kl       6.103899
entropy  6.316039

In [18]:
positive_effect = total_data.loc[total_data['entropy']>0].index
negative_effect = total_data.loc[total_data['entropy']<0].index

In [19]:
print(len(positive_effect))
print(len(negative_effect))

4380
32

In [20]:
pd.DataFrame(total_data.iloc[positive_effect].mean())

                0
prob     0.453219
kl       6.140617
entropy  6.364427

In [21]:
pd.DataFrame(total_data.iloc[negative_effect].mean())

                0
prob    -0.119383
kl       1.078142
entropy -0.307074

In [22]:
data = pd.read_csv('./dataset/intervention_data/gpt2_train=True_edit_entropy.csv') 
data

,origin,layer 0,layer 1,layer 2,layer 3,layer 4,layer 5,layer 6,layer 7,layer 8,layer 9,layer 10,layer 11,layer 12
0,3.528265,7.653836,7.681150,7.578917,7.393556,7.316156,7.284297,7.220572,7.142783,7.059140,6.961599,6.845176,6.717376,6.546916
1,2.600141,2.950264,3.087359,3.321278,3.653291,4.134775,4.769901,5.363212,5.786712,5.939724,5.935822,5.910922,5.771557,5.664832
2,0.003354,0.028773,0.028125,0.026413,0.030554,0.035453,0.038760,0.041501,0.043592,0.046207,0.048777,0.048958,0.048470,0.049673
3,3.006993,5.608863,5.506383,5.370793,5.238524,5.072370,4.898492,4.728567,4.539202,4.327333,4.093891,3.853062,3.654734,3.521930
4,1.864189,1.864201,1.810333,1.735677,1.655874,1.571524,1.483664,1.392992,1.290966,1.187943,1.085002,0.989326,0.900257,0.828535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,1.259484,1.751377,2.020241,2.341396,3.092397,4.000521,4.897356,5.513891,5.910018,6.092826,6.070480,5.993216,5.893068,5.754866
4408,1.717130,6.240968,6.166399,6.153606,6.171541,6.201797,6.242799,6.264024,6.269140,6.240520,6.176133,6.103667,5.999495,5.836390
4409,1.729754,0.175160,0.170046,0.164740,0.158678,0.152213,0.145886,0.140041,0.134496,0.128711,0.122082,0.114515,0.105966,0.095170
4410,2.038868,2.509001,2.544391,2.584225,2.623524,2.660207,2.703935,2.760379,2.819573,2.869031,2.898267,2.904617,2.895889,2.853141
4411,3.894019,6.881545,6.546654,6.416899,6.210073,6.089742,6.079323,6.080318,6.092858,6.086356,6.024182,5.918440,5.816071,5.595008

In [23]:
display(pd.DataFrame(data.mean(axis=0)))

                 0
origin    2.517279
layer 0   3.277587
layer 1   3.298110
layer 2   3.323158
layer 3   3.344593
layer 4   3.352304
layer 5   3.355515
layer 6   3.354720
layer 7   3.344270
layer 8   3.322226
layer 9   3.280279
layer 10  3.223225
layer 11  3.156268
layer 12  3.077666

In [24]:
pd.DataFrame(data.loc[positive_effect].mean(axis=0))

                 0
origin    2.502715
layer 0   3.274140
layer 1   3.295239
layer 2   3.320963
layer 3   3.343109
layer 4   3.351449
layer 5   3.355276
layer 6   3.355098
layer 7   3.345221
layer 8   3.323716
layer 9   3.282247
layer 10  3.225611
layer 11  3.159046
layer 12  3.080738

In [25]:
pd.DataFrame(data.loc[negative_effect].mean(axis=0))

                 0
origin    4.510676
layer 0   3.749424
layer 1   3.691043
layer 2   3.623544
layer 3   3.547713
layer 4   3.469425
layer 5   3.388253
layer 6   3.302986
layer 7   3.214079
layer 8   3.118197
layer 9   3.010947
layer 10  2.896639
layer 11  2.776089
layer 12  2.657260

In [26]:
prob_data = pd.read_csv('./dataset/intervention_data/gpt2_train=True_edit_indiv_entropy.csv') 
prob_data

,origin,layer 0,layer 1,layer 2,layer 3,layer 4,layer 5,layer 6,layer 7,layer 8,layer 9,layer 10,layer 11,layer 12
0,3.528265,7.653836,3.524729,3.522838,3.520355,3.517146,3.514486,3.510623,3.512486,3.510460,3.510572,3.504025,3.503284,3.501734
1,2.600141,2.950264,2.601128,2.606611,2.605881,2.603716,2.605412,2.601237,2.599962,2.590298,2.600005,2.595709,2.562854,2.588553
2,0.003354,0.028773,0.002978,0.003246,0.003298,0.003152,0.003191,0.003182,0.003135,0.003295,0.003232,0.003134,0.003156,0.003288
3,3.006993,5.608863,2.998790,2.995652,2.991882,2.999675,3.003501,3.002722,3.000188,2.998204,2.997684,2.995273,2.988943,2.989560
4,1.864189,1.864201,1.810161,1.787030,1.777778,1.769841,1.762852,1.755189,1.739848,1.732496,1.724916,1.727038,1.727214,1.744335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,1.259484,1.751377,1.258945,1.258719,1.256313,1.255322,1.257746,1.257363,1.256343,1.254136,1.254355,1.253216,1.250563,1.246234
4408,1.717130,6.240968,1.745382,1.749330,1.750264,1.743613,1.749671,1.744833,1.736154,1.738959,1.722927,1.708382,1.694987,1.691459
4409,1.729754,0.175160,1.723740,1.721732,1.723159,1.721623,1.723446,1.721876,1.725787,1.729730,1.725820,1.725051,1.722779,1.721303
4410,2.038868,2.509001,2.047871,2.039932,2.039323,2.036405,2.039057,2.040055,2.038238,2.032350,2.032642,2.027137,2.022390,2.010187
4411,3.894019,6.881545,3.887634,3.894892,3.895223,3.887137,3.886471,3.880394,3.873799,3.870218,3.869516,3.860377,3.859668,3.856771

In [27]:
pd.DataFrame(prob_data.mean(axis=0))

                 0
origin    2.517279
layer 0   3.277587
layer 1   2.512709
layer 2   2.511866
layer 3   2.510487
layer 4   2.508662
layer 5   2.509785
layer 6   2.510361
layer 7   2.508287
layer 8   2.505851
layer 9   2.501993
layer 10  2.496545
layer 11  2.490775
layer 12  2.488049

In [28]:
pd.DataFrame(prob_data.loc[positive_effect].mean(axis=0))

                 0
origin    2.502715
layer 0   3.274140
layer 1   2.498536
layer 2   2.497730
layer 3   2.496416
layer 4   2.494562
layer 5   2.495715
layer 6   2.496283
layer 7   2.494226
layer 8   2.491816
layer 9   2.487967
layer 10  2.482494
layer 11  2.476679
layer 12  2.473857

In [29]:
pd.DataFrame(prob_data.loc[negative_effect].mean(axis=0))

                 0
origin    4.510676
layer 0   3.749424
layer 1   4.452530
layer 2   4.446733
layer 3   4.436388
layer 4   4.438535
layer 5   4.435679
layer 6   4.437246
layer 7   4.432842
layer 8   4.426890
layer 9   4.421921
layer 10  4.419751
layer 11  4.420123
layer 12  4.430567

In [30]:
display(pd.read_csv('./dataset/intervention_data/gpt2_train=True_edit_accuracy__entropy.csv'))

    total_stacked  pos_stacked  neg_stacked  total_indiv  pos_indiv  neg_indiv
0        0.420444     0.422831      0.09375     0.420444   0.422831    0.09375
1        0.205122     0.205936      0.09375     0.205122   0.205936    0.09375
2        0.198096     0.198858      0.09375     0.420444   0.422831    0.09375
3        0.191750     0.192466      0.09375     0.419991   0.422374    0.09375
4        0.184044     0.184703      0.09375     0.419764   0.422146    0.09375
5        0.179737     0.180365      0.09375     0.420218   0.422603    0.09375
6        0.173617     0.174201      0.09375     0.420444   0.422831    0.09375
7        0.170671     0.171233      0.09375     0.420671   0.423059    0.09375
8        0.167951     0.168493      0.09375     0.420444   0.422831    0.09375
9        0.164325     0.164840      0.09375     0.420671   0.423059    0.09375
10       0.163418     0.163927      0.09375     0.420671   0.423059    0.09375
11       0.162285     0.162785      0.09375     0.420671   0.423059    0.09375
12       0.160245     0.160731      0.09375     0.420671   0.423059    0.09375
13       0.160245     0.160731      0.09375     0.420898   0.423288    0.09375