# Probability

In [32]:
import pandas as pd

In [33]:
total_data = pd.read_csv('./dataset/intervention_data/gpt2_train=False_Total.csv')
total_data

          prob         kl   entropy
0    -0.811730  11.324991 -4.458462
1    -0.079996  12.253328  0.312050
2    -0.873690  11.862528 -6.046141
3    -0.629521  12.853862 -4.754339
4    -0.086813   0.231026  0.206219
...        ...        ...       ...
4407 -0.689437  11.481072 -3.619538
4408 -0.738699  11.887397 -4.413545
4409 -0.063761  10.935291 -0.679931
4410 -0.670067  13.116758 -4.840611
4411 -0.840015  11.939545 -4.412962

[4412 rows x 3 columns]

In [34]:
pd.DataFrame(total_data.mean())

                 0
prob     -0.553152
kl       11.482063
entropy  -3.615316

In [35]:
positive_effect = total_data.loc[total_data['prob']>0].index
negative_effect = total_data.loc[total_data['prob']<0].index

In [36]:
print(len(positive_effect))
print(len(negative_effect))

492
3920

In [37]:
display(pd.DataFrame(total_data.iloc[positive_effect].mean()))
display(pd.DataFrame(total_data.iloc[negative_effect].mean()))

                0
prob     0.062302
kl       8.529364
entropy  0.671864

                 0
prob     -0.630398
kl       11.852657
entropy  -4.153401

# Train = False

In [38]:
data = pd.read_csv('./dataset/intervention_data/gpt2_train=False_edit_prob.csv') 
data

,origin,layer 0,layer 1,layer 2,layer 3,layer 4,layer 5,layer 6,layer 7,layer 8,layer 9,layer 10,layer 11,layer 12
0,0.060381,0.080290,0.079656,0.091351,0.103523,0.118231,0.125235,0.118520,0.105145,0.084034,0.088444,0.209463,0.220056,0.271697
1,0.254463,0.048992,0.074202,0.076285,0.076096,0.076385,0.076562,0.077423,0.079692,0.081781,0.083635,0.084886,0.086323,0.088912
2,0.054926,0.077693,0.077747,0.086058,0.089531,0.089533,0.092211,0.086197,0.077134,0.068221,0.071326,0.071361,0.069588,0.073608
3,0.054664,0.050827,0.049514,0.048438,0.052125,0.053134,0.052457,0.051828,0.049687,0.043801,0.038697,0.036173,0.035830,0.037118
4,0.131792,0.131721,0.206836,0.253298,0.287745,0.330832,0.393461,0.481213,0.585532,0.680424,0.749456,0.799836,0.838401,0.874492
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,0.078260,0.116005,0.113416,0.127363,0.135795,0.145620,0.148186,0.145581,0.154129,0.173048,0.195875,0.205389,0.213473,0.223561
4408,0.154431,0.209650,0.211712,0.234859,0.254820,0.285125,0.305796,0.304310,0.298367,0.307468,0.317498,0.323674,0.325522,0.340613
4409,0.045767,0.065653,0.080296,0.091872,0.101152,0.108505,0.111344,0.115518,0.126296,0.152589,0.182325,0.213066,0.245189,0.273808
4410,0.323204,0.455946,0.465348,0.498534,0.539054,0.576517,0.612840,0.624766,0.653544,0.679134,0.702991,0.720892,0.736345,0.746826
4411,0.073940,0.137413,0.138245,0.153190,0.166592,0.185635,0.199401,0.198215,0.192884,0.195587,0.205058,0.213869,0.214971,0.226696

In [39]:
pd.DataFrame(data.mean(axis=0))

                 0
origin    0.171826
layer 0   0.185107
layer 1   0.193319
layer 2   0.205935
layer 3   0.219268
layer 4   0.235434
layer 5   0.252662
layer 6   0.264796
layer 7   0.277852
layer 8   0.300335
layer 9   0.321689
layer 10  0.339574
layer 11  0.351596
layer 12  0.362186

In [40]:
pd.DataFrame(data.loc[positive_effect].mean(axis=0))

                 0
origin    0.207207
layer 0   0.212096
layer 1   0.235185
layer 2   0.250560
layer 3   0.267400
layer 4   0.297169
layer 5   0.328229
layer 6   0.351409
layer 7   0.374218
layer 8   0.401089
layer 9   0.427936
layer 10  0.454909
layer 11  0.474987
layer 12  0.497420

In [41]:
pd.DataFrame(data.loc[negative_effect].mean(axis=0))

                 0
origin    0.167385
layer 0   0.181719
layer 1   0.188064
layer 2   0.200334
layer 3   0.213226
layer 4   0.227686
layer 5   0.243177
layer 6   0.253925
layer 7   0.265757
layer 8   0.287689
layer 9   0.308354
layer 10  0.325099
layer 11  0.336109
layer 12  0.345213

In [42]:
prob_data = pd.read_csv('./dataset/intervention_data/gpt2_train=False_edit_indiv_prob.csv') 
prob_data

,origin,layer 0,layer 1,layer 2,layer 3,layer 4,layer 5,layer 6,layer 7,layer 8,layer 9,layer 10,layer 11,layer 12
0,0.060381,0.080290,0.061078,0.061447,0.068696,0.066450,0.063743,0.055985,0.062266,0.055509,0.058915,0.057053,0.057257,0.068183
1,0.254463,0.048992,0.252430,0.248750,0.261359,0.273478,0.285070,0.264849,0.254133,0.267472,0.270371,0.252798,0.251932,0.258560
2,0.054926,0.077693,0.055570,0.061453,0.058397,0.055624,0.056445,0.055899,0.059768,0.054847,0.056091,0.056324,0.057815,0.058283
3,0.054664,0.050827,0.054016,0.053039,0.057476,0.056191,0.053985,0.053485,0.053740,0.051024,0.051679,0.054040,0.054303,0.056740
4,0.131792,0.131721,0.206729,0.160589,0.152996,0.154359,0.161726,0.178549,0.193789,0.194940,0.195676,0.199348,0.196655,0.213050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,0.078260,0.116005,0.078031,0.084764,0.085170,0.083241,0.079612,0.074151,0.078493,0.079506,0.081604,0.079651,0.081360,0.082353
4408,0.154431,0.209650,0.151843,0.168006,0.168389,0.176982,0.169193,0.155685,0.148779,0.152293,0.153236,0.154248,0.156906,0.165544
4409,0.045767,0.065653,0.044478,0.046553,0.048142,0.049156,0.043329,0.043973,0.042360,0.045553,0.045484,0.044261,0.045095,0.045254
4410,0.323204,0.455946,0.329256,0.343417,0.358458,0.352757,0.356272,0.333022,0.345492,0.348924,0.347917,0.346063,0.337897,0.338256
4411,0.073940,0.137413,0.074111,0.080982,0.079606,0.081161,0.078745,0.072713,0.070065,0.070006,0.072808,0.075428,0.075388,0.079539

In [43]:
display(pd.DataFrame(prob_data.mean(axis=0)))

                 0
origin    0.171826
layer 0   0.185107
layer 1   0.175054
layer 2   0.179669
layer 3   0.183435
layer 4   0.182946
layer 5   0.183749
layer 6   0.179574
layer 7   0.179425
layer 8   0.182600
layer 9   0.182034
layer 10  0.180917
layer 11  0.180480
layer 12  0.179694

In [44]:
display(pd.DataFrame(prob_data.loc[positive_effect].mean(axis=0)))

                 0
origin    0.207207
layer 0   0.212096
layer 1   0.216798
layer 2   0.213648
layer 3   0.223495
layer 4   0.222829
layer 5   0.222066
layer 6   0.218076
layer 7   0.219348
layer 8   0.222428
layer 9   0.221330
layer 10  0.217524
layer 11  0.217023
layer 12  0.218429

In [45]:
display(pd.DataFrame(prob_data.loc[negative_effect].mean(axis=0)))

                 0
origin    0.167385
layer 0   0.181719
layer 1   0.169815
layer 2   0.175405
layer 3   0.178407
layer 4   0.177940
layer 5   0.178940
layer 6   0.174742
layer 7   0.174414
layer 8   0.177601
layer 9   0.177102
layer 10  0.176323
layer 11  0.175894
layer 12  0.174832

In [46]:
import os
os.getcwd()

'/data1/sjlee/NLP/Experiment8'

In [47]:
display(pd.read_csv('./dataset/intervention_data/gpt2_train=False_edit_accuracy__prob.csv'))

    total_stacked  pos_stacked  neg_stacked  total_indiv  pos_indiv  neg_indiv
0        0.060517     0.156504     0.048469     0.060517   0.156504   0.048469
1        0.019039     0.032520     0.017347     0.019039   0.032520   0.017347
2        0.018359     0.018293     0.018367     0.056890   0.152439   0.044898
3        0.015413     0.010163     0.016071     0.053490   0.152439   0.041071
4        0.013826     0.008130     0.014541     0.057570   0.148374   0.046173
5        0.010879     0.006098     0.011480     0.057344   0.148374   0.045918
6        0.009519     0.004065     0.010204     0.053717   0.144309   0.042347
7        0.011559     0.002033     0.012755     0.055757   0.152439   0.043622
8        0.013599     0.004065     0.014796     0.059157   0.150407   0.047704
9        0.014053     0.004065     0.015306     0.058024   0.150407   0.046429
10       0.013373     0.002033     0.014796     0.057344   0.150407   0.045663
11       0.012013     0.002033     0.013265     0.054624   0.150407   0.042602
12       0.012693     0.002033     0.014031     0.055077   0.152439   0.042857
13       0.011559     0.002033     0.012755     0.055304   0.154472   0.042857

# Train=True

In [48]:
total_data = pd.read_csv('./dataset/intervention_data/gpt2_train=True_Total.csv')
total_data

          prob        kl   entropy
0     0.146471  4.069785  6.057753
1     0.424571  7.348496  6.174748
2     0.992279  9.834436  9.314149
3     0.148583  6.131197  5.689916
4     0.367218  0.316818  1.718099
...        ...       ...       ...
4407  0.466487  5.844389  8.094136
4408  0.512915  5.370334  7.713697
4409  0.380489  8.613902  6.744452
4410  0.487833  7.254220  6.955940
4411  0.115202  3.830449  5.656858

[4412 rows x 3 columns]

In [49]:
pd.DataFrame(total_data.mean())

                0
prob     0.449066
kl       6.103899
entropy  6.316039

In [50]:
positive_effect = total_data.loc[total_data['prob']>0].index
negative_effect = total_data.loc[total_data['prob']<0].index

In [51]:
print(len(positive_effect))
print(len(negative_effect))

4278
134

In [52]:
pd.DataFrame(total_data.iloc[positive_effect].mean())

                0
prob     0.466258
kl       6.204546
entropy  6.494847

In [53]:
pd.DataFrame(total_data.iloc[negative_effect].mean())

                0
prob    -0.099803
kl       2.890695
entropy  0.607537

In [54]:
data = pd.read_csv('./dataset/intervention_data/gpt2_train=True_edit_prob.csv') 
data

,origin,layer 0,layer 1,layer 2,layer 3,layer 4,layer 5,layer 6,layer 7,layer 8,layer 9,layer 10,layer 11,layer 12
0,0.151096,0.163164,0.161334,0.159390,0.158414,0.157082,0.156283,0.155631,0.154609,0.153199,0.151938,0.153798,0.156289,0.158898
1,0.441099,0.259297,0.216581,0.161881,0.136978,0.135402,0.115780,0.083564,0.055001,0.044346,0.064277,0.090831,0.124561,0.167093
2,0.999650,0.997053,0.997416,0.997354,0.996917,0.996298,0.996115,0.996098,0.996339,0.996479,0.996743,0.996953,0.997175,0.997295
3,0.178396,0.130499,0.136238,0.144591,0.149900,0.154752,0.159323,0.164033,0.165555,0.168890,0.169456,0.171580,0.198717,0.229471
4,0.702637,0.702640,0.714545,0.729876,0.746298,0.763877,0.781842,0.799536,0.818495,0.836706,0.854159,0.869917,0.883973,0.895585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,0.475619,0.469345,0.468993,0.467399,0.468502,0.471962,0.474351,0.475690,0.475730,0.472319,0.468918,0.468473,0.470580,0.470557
4408,0.518963,0.305880,0.300595,0.296168,0.288699,0.279841,0.272115,0.265660,0.257582,0.248381,0.239901,0.238613,0.240864,0.247211
4409,0.435542,0.974372,0.974721,0.975053,0.975583,0.976166,0.976777,0.977276,0.977638,0.978119,0.978716,0.979404,0.980172,0.981541
4410,0.500783,0.442057,0.437408,0.433055,0.431832,0.427672,0.423157,0.418982,0.414874,0.413033,0.411368,0.412198,0.414316,0.417535
4411,0.120001,0.103451,0.100838,0.097017,0.091912,0.089632,0.088091,0.086659,0.084750,0.083066,0.082796,0.083925,0.085074,0.087446

In [55]:
display(pd.DataFrame(data.mean(axis=0)))

                 0
origin    0.488085
layer 0   0.492336
layer 1   0.491719
layer 2   0.491066
layer 3   0.490149
layer 4   0.488674
layer 5   0.487103
layer 6   0.485979
layer 7   0.485806
layer 8   0.487187
layer 9   0.490920
layer 10  0.495710
layer 11  0.501692
layer 12  0.509774

In [56]:
pd.DataFrame(data.loc[positive_effect].mean(axis=0))

                 0
origin    0.498231
layer 0   0.492856
layer 1   0.492026
layer 2   0.491117
layer 3   0.489845
layer 4   0.487936
layer 5   0.485886
layer 6   0.484249
layer 7   0.483516
layer 8   0.484298
layer 9   0.487458
layer 10  0.491694
layer 11  0.497164
layer 12  0.504776

In [57]:
pd.DataFrame(data.loc[negative_effect].mean(axis=0))

                 0
origin    0.164195
layer 0   0.475730
layer 1   0.481909
layer 2   0.489411
layer 3   0.499832
layer 4   0.512214
layer 5   0.525954
layer 6   0.541213
layer 7   0.558917
layer 8   0.579440
layer 9   0.601449
layer 10  0.623924
layer 11  0.646251
layer 12  0.669347

In [58]:
prob_data = pd.read_csv('./dataset/intervention_data/gpt2_train=True_edit_indiv_prob.csv') 
prob_data

,origin,layer 0,layer 1,layer 2,layer 3,layer 4,layer 5,layer 6,layer 7,layer 8,layer 9,layer 10,layer 11,layer 12
0,0.151096,0.163164,0.150587,0.150096,0.150363,0.150482,0.150704,0.151179,0.151196,0.151337,0.150966,0.152373,0.152807,0.152385
1,0.441099,0.259297,0.441270,0.441163,0.441275,0.441412,0.440960,0.443339,0.443881,0.444811,0.441969,0.438482,0.443212,0.439541
2,0.999650,0.997053,0.999716,0.999691,0.999676,0.999705,0.999709,0.999699,0.999709,0.999708,0.999703,0.999694,0.999679,0.999656
3,0.178396,0.130499,0.180728,0.180793,0.181299,0.178957,0.178869,0.178256,0.178170,0.177550,0.178803,0.177961,0.178506,0.178204
4,0.702637,0.702640,0.714524,0.718503,0.720555,0.722623,0.723938,0.724886,0.727593,0.728441,0.729618,0.728897,0.728482,0.726685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,0.475619,0.469345,0.474205,0.474796,0.473880,0.472277,0.470939,0.470652,0.469391,0.469103,0.470928,0.471879,0.472952,0.477878
4408,0.518963,0.305880,0.516306,0.513244,0.511655,0.514833,0.517355,0.518611,0.519421,0.518115,0.523424,0.519947,0.518555,0.516558
4409,0.435542,0.974372,0.439053,0.438034,0.438252,0.438232,0.437029,0.436621,0.432485,0.432671,0.432680,0.432132,0.432756,0.433020
4410,0.500783,0.442057,0.493088,0.498004,0.501258,0.496758,0.496110,0.496919,0.497197,0.500073,0.500553,0.502410,0.503499,0.504179
4411,0.120001,0.103451,0.120273,0.119325,0.119038,0.119843,0.120421,0.120586,0.120323,0.120861,0.121118,0.121596,0.121408,0.122357

In [59]:
pd.DataFrame(prob_data.mean(axis=0))

                 0
origin    0.488085
layer 0   0.492336
layer 1   0.488732
layer 2   0.488783
layer 3   0.488800
layer 4   0.488846
layer 5   0.488766
layer 6   0.488743
layer 7   0.488869
layer 8   0.488999
layer 9   0.489199
layer 10  0.489378
layer 11  0.489724
layer 12  0.489952

In [60]:
pd.DataFrame(prob_data.loc[positive_effect].mean(axis=0))

                 0
origin    0.498231
layer 0   0.492856
layer 1   0.498746
layer 2   0.498758
layer 3   0.498753
layer 4   0.498790
layer 5   0.498705
layer 6   0.498669
layer 7   0.498788
layer 8   0.498910
layer 9   0.499094
layer 10  0.499272
layer 11  0.499627
layer 12  0.499861

In [61]:
pd.DataFrame(prob_data.loc[negative_effect].mean(axis=0))

                 0
origin    0.164195
layer 0   0.475730
layer 1   0.169039
layer 2   0.170339
layer 3   0.171039
layer 4   0.171360
layer 5   0.171460
layer 6   0.171838
layer 7   0.172180
layer 8   0.172582
layer 9   0.173284
layer 10  0.173511
layer 11  0.173570
layer 12  0.173599

In [62]:
display(pd.read_csv('./dataset/intervention_data/gpt2_train=True_edit_accuracy__prob.csv'))

    total_stacked  pos_stacked  neg_stacked  total_indiv  pos_indiv  neg_indiv
0        0.420444     0.431744     0.059701     0.420444   0.431744   0.059701
1        0.191976     0.196587     0.044776     0.191976   0.196587   0.044776
2        0.189483     0.194016     0.044776     0.420444   0.431510   0.067164
3        0.186990     0.191211     0.052239     0.420671   0.431978   0.059701
4        0.183364     0.187471     0.052239     0.419991   0.431276   0.059701
5        0.179964     0.183964     0.052239     0.420444   0.431744   0.059701
6        0.176337     0.180224     0.052239     0.420218   0.431510   0.059701
7        0.172937     0.176718     0.052239     0.420444   0.431744   0.059701
8        0.168858     0.172511     0.052239     0.420444   0.431510   0.067164
9        0.165005     0.168537     0.052239     0.421124   0.432211   0.067164
10       0.162511     0.165965     0.052239     0.420898   0.431978   0.067164
11       0.159112     0.162459     0.052239     0.420898   0.431978   0.067164
12       0.156618     0.159888     0.052239     0.420671   0.431744   0.067164
13       0.155032     0.158252     0.052239     0.420898   0.431978   0.067164